# mon.template - copied to "mon.cfg" by test script.

context fd_management_type epoll
source transport tcp

# Send monitoring TR and data over admin interface.
context default_interface 10.29.3.0/24

context mim_incoming_address 0.0.0.0
context request_tcp_bind_request_port 0
context resolver_unicast_port_low 12002
context resolver_unicast_port_high 12009
# The test script, tst_cfg.sh, adds the "context resolver_unicast_daemon"
# option at run-time based on the machine the test is running on.
